page-home {
    
    #size{
        height: 400px;
    }

    #textstyle{
        color: red;
        font-size: 25px;
    }

    .ani{
        margin-left: 15px;
        margin-top: 15px;
        border-radius: 50%;
        width: 10vw;
        height: 10vw;
        box-shadow: 0px 0px 10px 5px gray;
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }

    .ani:hover{
        -moz-transform: scale(1.15);
        -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
        transform: scale(1.15);
    }
}
